[Unit]
After=network.service
Description=Bot service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/ubuntu/bot1/code/chatbots/aiogram_iu5_bkit_button_bot/bot.py

[Install]
WantedBy=multi-user.target